@using FoodManager.Application.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using FoodManager.Application.Product.Commands.CreateProduct
@using FoodManager.Application.Resources.Localizations;

@model CreateProductCommand

<h1>@Lang.AddProduct</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-antiforgery="true">
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Name">@Html.DisplayNameFor(model => model.Name)</label>
                <input class="form-control" type="text" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" asp-for="Description">@Html.DisplayNameFor(model => model.Description)</label>
                <textarea class="form-control" type="text" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" asp-for="Category">@Html.DisplayNameFor(model => model.Category)</label>
                <input class="form-control" type="text" asp-for="Category" />
            </div>

            <div class="form-group mb-3">
                <label class="control-label" asp-for="Quantity">@Html.DisplayNameFor(model => model.Quantity)</label>
                <div class="input-group">
                    <input class="form-control" type="number" asp-for="Quantity" step="any" min="1" max="10000" inputmode="numeric" />
                    <span>
                        <select class="form-select" asp-for="Unit" asp-items="@UnitExtensions.GetUnitSelectList()"></select>
                    </span>
                </div>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" asp-for="Price">@Html.DisplayNameFor(model => model.Price)</label>
                <div class="input-group">
                    <input class="form-control" type="number" asp-for="Price" data-val-number="" step="any" min="0" max="10000" inputmode="numeric" />
                    <span class="input-group-text">@Lang.CurrencyISOCodes</span>
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" asp-for="ExpirationDate">@Html.DisplayNameFor(model => model.ExpirationDate)</label>
                <input class="form-control" type="date" asp-for="ExpirationDate" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <input type="submit" value="@Lang.Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
       await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}