@using FoodManager.Application.Extensions
@using FoodManager.Application.Common
@using FoodManager.Application.Resources.Localizations
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using FoodManager.Application.Product.Dtos
@using FoodManager.Infrastructure.Localization
@model PagedResult<ProductDto>

@{
    ViewData["Title"] = @Lang.Products;
}

<h1>@Lang.Products</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@Lang.AddProduct</a>
</p>

<form method="get" asp-action="Index" class="mb-3">
    <div class="input-group">
        <input class="form-control" type="text" name="SearchPhrase" placeholder="@Lang.Search..." value="@(ViewContext.HttpContext.Request.Query["SearchPhrase"])"/>
        <button type="submit" class="btn btn-primary">@Lang.Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Lang.Name</th>
            <th>@Lang.Description</th>
            <th>@Lang.Category</th>
            <th>@Lang.Quantity</th>
            <th>@Lang.Unit</th>
            <th>@Lang.Price (PLN)</th>
            <th>@Lang.ExpirationDate</th>
            <th>@Lang.Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@(TranslationHelper.GetTranslatedValue(item.CategoryTranslationKey) ?? item.CategoryName)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td>@item.Unit.GetDisplayName()</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@item.ExpirationDate.ToString("dd-MM-yyyy")</td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">@Lang.Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('@Lang.DeleteProductConfirmationMessage')">@Lang.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
